* {
  margin: 0;
  padding: 0;
}
/* Given to override any browser set margin and padding for a consistent view across all browsers */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Consistent font-family given to all pages */

/* Header starts */
header {
  background-color: aliceblue;
}
header img {
  width: 300px;
}
header > nav {
  margin: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header ul#mainNavigation {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* Created a flex container and used the row direction with space-between */
header li {
  list-style: none;
  padding: 20px;
}
.hamburger {
  align-items: center;
  margin-top: 50px;
  display: none;
}
header a,
header div.dropdown {
  text-decoration: none;
  font-size: large;
  color: grey;
}

/* Dropdowns created for navigation */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content li:hover {
  background-color: lightgrey;
  color: darkslategray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content > li {
  padding: 0.8em 0.5em;
}

/* Header for Tablets */
/* @media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
} */

/* Header for mobile */
@media only screen and (max-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    padding: 0 0 10px 0;
  }
  header ul#mainNavigation {
    display: none;
    width: 100%;
  }
  #mainNavigation.show {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    margin-top: 40px;
    display: block;
  }
  header img {
    width: 250px;
    margin: 0 0 0 -20px;
  }
}

/* Header ends */




h1{
    background-image: url('../Image/cartBackground5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* height:5em; */
    color:white;
    text-shadow:2px 2px 2px #000000;
    text-align: center;
    padding: 2em 0;
}

#gridContainer{
    padding:1em 7em;
    display:grid;
    grid-template-columns: 25px 120px 2.5fr 1fr 1fr 1fr;
    gap:1em;
    font-size:large;
}
#gridContainer>:nth-child(-n + 6){
    font-weight: bold;
}

#gridContainer .bi-x{
    color:grey;
    font-size:x-large;
}
#gridContainer > img{
    height:100px;
    width:100px;
    object-fit:cover;
}
#gridContainer>span, #gridContainer>a{
    margin: 35px 0;
}
#gridContainer input{
    /* height:30px; */
    width:20px;
}
#gridContainer button{
    width: 1.2em;
}

#cartTotal{
    margin: 40px 0 0 100px;
}
#cartTotal > h3{
    margin: 7px;
}
#cartTotal > button {
    padding: 0.5em 1.5em;
    /* background-color: aliceblue; */
}
/* #cartTotal > button:first-child{
    float:right;
    margin-right: 15em;
    margin-bottom: 50px;    
} */
/* Used for the update cart button */
#subtotal, #tax, #total{
    display: inline-block;
    tab-size:10;
}

/* Grid for tablets */
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #gridContainer{
        padding:5px;
    }
    #cartTotal{
        margin: 40px 0 0 30px;
    }
    /* #cartTotal > button:first-child{
        margin-right: 3em;
    } */
}

/* Grid for mobile */
@media only screen 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #gridContainer{
        padding:5px;
        gap:3px;  
        font-size:small;
        grid-template-columns: 25px 2.5fr 1fr 1.5fr 1fr;
    }
    #gridContainer > img, #hideOnMobile{
        display:none;   
    }
    #gridContainer > span > button{
        width:15px;
        padding:0;
    }
    #gridContainer>span{
        margin: 25px 0;
    }
    #gridContainer>a{
        margin:20px 0;
    }
    #cartTotal{
        margin: 20px;
    }
    #cartTotal h2{
        font-size: 1em;
    }
    #cartTotal h3{
        font-size: 0.8em;
    }
    #cartTotal > button{
        padding: 5px;
    }
    /* #cartTotal > button:first-child{
        margin-right: 1em;
    } */
    

}   




/* Main ends */

/* footer */
footer {
    margin-top: 20px;
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
  }
  footer h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  footer li:not(:first-child) {
    margin-top: 0.8em;
  }
  footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    margin: 0;
  }
  #contactUs textarea {
    width: 100%;
  }
  footer input,
  footer textarea,
  footer button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  footer button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    font-size: 1.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
    padding: 10px;
  }
  
  .copyright p {
    font-size: 0.9em;
  }
  /* Footer for tablets */
  @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .about {
      grid-area: about;
    }
    .links {
      grid-area: links;
    }
    #contactUs {
      grid-area: contact;
    }
    .row.primary {
      grid-template-areas:
        "about about about links"
        "contact contact contact contact";
    }
    .row.primary {
      row-gap: 2em;
    }
  }
  
  /* Footer for mobile */
  @media only screen and (max-device-width: 600px) {
    .row.primary {
      grid-template-columns: 1fr;
      row-gap: 2em;
    }
  }
  /* Footer ends */
  