body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/* Header starts */
header * {
  margin: 0;
  padding: 0;
}

header {
  background-color: aliceblue;
}
header img {
  width: 300px;
}
header > nav {
  margin: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header ul#mainNavigation {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* Created a flex container and used the row direction with space-between */
header li {
  list-style: none;
  padding: 20px;
}
.hamburger {
  align-items: center;
  margin-top: 50px;
  display: none;
}
header a,
header div.dropdown {
  text-decoration: none;
  font-size: large;
  color: grey;
}

/* Dropdowns created for navigation */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content li:hover {
  background-color: lightgrey;
  color: darkslategray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content > li {
  padding: 0.8em 0.5em;
}
/* Header ends */

/* Main */
main {
  padding-bottom: 10px;
  background-color: aliceblue;
}

fieldset {
  margin: 0 10px;
}

h1 {
  text-align: center;
  padding: 0 0 20px;
  margin-top: 0;
  color: teal;
  font-size: 2em;
}

#personalInfo {
  display: grid;
  grid-template-columns: 100px 250px 170px 250px auto;
}

#personalInfo input {
  margin-right: 20px;
}

#personalInfo .row-2,
#eduInfo .row-2 {
  grid-row: 2;
}

#eduInfo .row-3 {
  grid-row: 3;
}

.margin-bottom {
  margin-bottom: 10px;
}

#personalInfo {
  display: grid;
  grid-template-columns: 100px 250px 170px 250px auto;
}

#eduInfo {
  display: grid;
  grid-template-columns: 170px 250px auto;
}

#workInfo {
  display: grid;
  grid-template-columns: 170px 50px 200px auto;
}

#workInfo #cv-label {
  grid-row: 2;
}

#workInfo #cv {
  grid-column: 2 / 4;
}

#extra textarea {
  width: 98%;
  height: 100px;
}

#submit {
  margin: 10px;
  padding: 10px 20px;
  font-size: 22px;
}

#validationMsg {
  margin: 0 10px;
  color: red;
}

/* Footer starts */
footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row {
  padding: 1em 1em;
}

.row.primary {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  align-items: stretch;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

footer li:not(:first-child) {
  margin-top: 0.8em;
}

footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}

footer ul li a:hover {
  color: #2a8ded;
}

.about p {
  text-align: justify;
  margin: 0;
}

#contactUs textarea {
  width: 100%;
}

footer input,
textarea,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

footer button {
  background-color: #c7940a;
  color: #ffffff;
}

div.social {
  display: flex;
  font-size: 1.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

.social i {
  color: #bac6d9;
  padding: 10px;
}

.copyright p {
  font-size: 0.9em;
}
/* Footer ends */

/* Header for mobile */
@media only screen and (max-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    padding: 0 0 10px 0;
  }
  header ul#mainNavigation {
    display: none;
    width: 100%;
  }
  #mainNavigation.show {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    margin-top: 40px;
    display: block;
  }
  header img {
    width: 250px;
    margin: 0 0 0 -20px;
  }
}

/* Body for phones and tablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) {
  #wrapper {
    margin: 0;
    width: 100%;
  }

  main form {
    font-size: 20px;
  }

  fieldset input {
    height: 30px;
    width: 100%;
  }

  fieldset select {
    height: 50px;
    font-size: 20px;
    width: 100%;
  }

  #personalInfo {
    grid-template-columns: 100%;
  }

  #personalInfo .row-2 {
    grid-row: auto;
  }

  #personalInfo #email,
  #personalInfo #country {
    margin-bottom: 10px;
  }

  #eduInfo {
    grid-template-columns: 100%;
  }

  #eduInfo p {
    margin: 0;
  }

  #eduInfo .row-2,
  #eduInfo .row-3 {
    grid-row: auto;
  }

  #workInfo {
    grid-template-columns: 100%;
  }

  #workInfo label,
  #workInfo input,
  #workInfo #cv-label {
    grid-row: auto;
  }

  #workInfo #experience,
  #workInfo #cv {
    font-size: 20px;
    grid-column: auto;
  }

  #extra textarea {
    height: 100px;
    width: 90%;
    font-size: 20px;
  }

  #submit {
    padding: 20px 30px;
    font-size: 30px;
  }
}

/* Footer for tablets */
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about {
    grid-area: about;
  }
  .links {
    grid-area: links;
  }
  #contactUs {
    grid-area: contact;
  }
  .row.primary {
    grid-template-areas:
      "about about about links"
      "contact contact contact contact";
  }
  .row.primary {
    row-gap: 2em;
  }
}

/* Footer for mobile */
@media only screen and (max-device-width: 600px) {
  .row.primary {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }
}
